<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Natural Language Processing</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form id="textForm" class="" action="#">
                <textarea id="textArea" name="textArea" rows="10" placeholder="Insert text to process"></textarea>
                <input type="submit" value="Submit">
            </form>
        </section>

        <section>
            <strong>Text processing results:</strong>
            <div id="textResults"></div>
        </section>

        <section>
            <form id="reviewForm" class="" action>
                <label for="domain">Domain:</label>
                <select id="domain" class="text-capitalize"></select>
                <textarea name="reviewArea" id="reviewArea" rows="10"></textarea>
                <input type="submit" value="Submit">
            </form>
        </section>

        <section>
            <strong>Review processing results:</strong>
            <div id="textResults"></div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>