<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
     <!-- Responsive viewport, mobile optimized -->
     <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
     <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

    <title>Natural Language Processing</title>
</head>

<body>

    <header>
        <div class="logo"></div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <div id="feedback" class="feedback">This is some feedback</div>
        <section>
            <h1 class="main-header">Discover the inside outs of your text.</h1>
            <h4>Type or paste your text in the below field.</h4>
            <form id="textForm" class="" action="#">
                <textarea id="textArea" name="textArea" rows="10" 
                class="w-100 input-field"
                placeholder="Type or paste your text here"></textarea>
                <input type="submit" value="Submit" class="btn-primary">
            </form>
        </section>

        <section>
            <div id="textResults">
                <div class="container">
                    <center>RESULTS</center>
                </div>
            </div>
        </section>

        <hr class="style-one">

        <section>
            <h1 class="main-header">
                Find what people really wanted to say in their review. 
                You might be surprised!
            </h1>
            <form id="reviewForm" class="" action>
                <label for="domain">Select a domain:</label>
                <select id="domain" class="text-capitalize dropdown"></select>
                <textarea name="reviewArea" id="reviewArea" rows="10"
                    class="w-100 input-field" placeholder="Type or paste your review here"
                    ></textarea>
                <input type="submit" value="Submit" class="btn-primary">
            </form>
        </section>

        <section>
            <div id="reviewResults">
                <div class="container">
                    <center>REVIEW RESULTS</center>
                </div>
            </div>
            </section>
    </main>

    <footer>
        <p>Powered by Aylien</p>
    </footer>

</body>

</html>