// Color variables
$primary-color: #2f1488;
$secondary-color: #cfcfcf;
$font-family: Arial, Helvetica, sans-serif;
$error-color: #cd0000;
$success-color: #459d15;
$warning-color: #df5900;
$max-width: 800px;
$gradient-color1: #292E49;
$gradient-color2: #536976;