@import 'theme';


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $secondary-color;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
