@import 'theme';

form {
    padding: 20px 0;
}

/* Extend the general button style */
%btn {
    margin: 0.25rem 0;
    padding: 0.5rem 1.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;
    color: $secondary-color;
}

.input-field {
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    opacity: 0.8;
    background-color: #3d536c;
    color: $secondary-color;
    padding: 0.5rem;
}

#textResults,
#reviewResults {
    background: linear-gradient(45deg, $gradient-color2, $gradient-color1);
    background: -webkit-linear-gradient(45deg, $gradient-color2, $gradient-color1);
    border-radius: 0.5rem;
}

.container {
    margin: 0.5rem 0;
    padding: 0.7em;
    height: 300px;
    overflow-y: auto;
}

.result-header {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.result-items {
    display: flex;
    flex-wrap: wrap;
}

.item-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.label {
    font-size: 1.1em;
    color: $primary-color;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 0.5rem;
}

.item {
    text-transform: capitalize;
    margin: 0.5em 0;
}

.list-item{
    padding: 0.25rem 0;
}

.dropdown {
    height: 2rem;
    margin: 0.25rem 0;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #c9c9c9;
    background-color: #3f546b7a;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}